/* EXTERNAL CSS */

*{
    box-sizing:border-box;
}

.inline-box{
    background-color: black;
    color: white;
    width:auto;
    height: auto;
    padding:1px;
    text-align: center;
    border:solid purple;
}

.internal-box, .external-box, .css-syntax-box, .box-model-box{
    background-color: black;
    color: white;
    width:auto;
    height: auto;
    padding:1px;
    border:solid purple;
}